    body {
        /* font-family: 'Michroma', sans-serif; */
        /* font-family: 'Josefin Sans', sans-serif; */
        font-family: 'Lato', sans-serif;
        /* font-family: 'Roboto', sans-serif; */
    }

    :root {
        --bg-aqua: #52c3b1;
        --bg-red: #dc3329;
        --text-red: #dc3329;
        --text-blue: #010814;
        --bg-blue: #010814;
    }

    .bg-aqua {
        background-color: var(--bg-aqua);
    }

    .bg-red {
        background-color: var(--bg-red);
    }

    .bg-blue {
        background: url(images/starfield.jpg), var(--bg-blue);
    }

    .text-blue {
        color: var(--bg-text);
    }

    .text-red {
        color: var(--text-red);
    }

    .nav-link {
        color: #fff;
    }

    .nav-link:hover {
        color: var(--text-red);
    }

    .background-image {
        /* background: url(images/earth.png) no-repeat; */
        background-size: 100% !important;
        width: 100%;
    }

    .scale {
        transition: all 0.5s;
        transform: scale(0.9, 0.9);
        overflow: hidden;
    }

    .scale:hover {
        object-fit: contain;
        transform: scale(1, 1);

    }

    @keyframes scale {
        0% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(1.5, 1.5);
        }


    }

    .navbar-scrolled {
        background-color: #000 !important;
    }

    .dropdown-menu {
        --bs-dropdown-link-active-bg: #010814;
    }

    .img-custom {
        width: 350px;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
    }